:root {
  /* Global colors */
  --bg-color: #f8f9fa;
  --text-color: #212529;
  --muted-text-color: #495057;
  --border-color: #e9ecef;
  --accent-color: #435650;
  --accent-hover-color: #59736A;

  /* Inputs */
  --input-bg: #fff;
  --input-border: #ced4da;
  --input-focus-border: #80bdff;
  --input-focus-shadow: rgba(0, 123, 255, 0.25);

  /* Sections */
  --section-title-color: #495057;

  /* Select Component */
  --select-border: #ccc;
  --select-focus: #1976d2;
  --select-arrow: #666;
  --select-background: white;
  --select-disabled-background: #f5f5f5;
  --select-disabled-text: #888;
  --select-hover-background: #f5f5f5;
  --select-option-selected: #e6f7ff;
  --select-option-focused: #f0f7ff;
  --select-error-color: #d32f2f;
  --select-text: #333;
  --select-placeholder: #757575;
  --select-border-radius: 4px;
  --select-transition: 300ms ease;
}

[data-theme='dark'] {
  /* Global colors */
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --muted-text-color: #b0b0b0;
  --border-color: #2d2d2d;
  /* --accent-color: #59736A;
  --accent-hover-color: #8CA69D; */

  /* Inputs */
  --input-bg: #1e1e1e;
  --input-border: #333;
  --input-focus-border: #4d4d4d;
  --input-focus-shadow: rgba(100, 100, 100, 0.25);

  /* Sections */
  --section-title-color: #b0b0b0;

  /* Select Component */
  --select-border: #444;
  --select-focus: #90caf9;
  --select-arrow: #ccc;
  --select-background: #1e1e1e;
  --select-disabled-background: #2c2c2c;
  --select-disabled-text: #777;
  --select-hover-background: #2a2a2a;
  --select-option-selected: #2e3b4e;
  --select-option-focused: #334155;
  --select-error-color: #ef5350;
  --select-text: #e0e0e0;
  --select-placeholder: #aaa;
}

#root {
  min-width: none;
  min-height: 100dvh;
  height: 100dvh;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100dvh;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: var(--text-color);
  color: var(--bg-color);
  border-radius: 0.25rem;
}

.theme-icon {
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.simulation-container {
  width: calc(100dvw - 280px);
  margin-left: 280px;
}
